@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  background-color: #121212;
}

.movies_posters{
  display: -webkit-box;
}
.movies_posters::-webkit-scrollbar{
  display: none;
}

.banner-btn {
  @apply cursor-pointer text-white border-none outline-none font-bold rounded-sm px-8 py-2 mr-4;
  background-color: rgba(51, 51, 51, 0.5);
}
.banner-btn:hover{
  @apply text-black;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.bottom-gradient{
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37,37,37,0.6),
    #111);
}
.main-header{
  height:550px;
  @apply relative text-white bg-no-repeat pl-4 md:pl-8;
}
.nav-fade{
  transition: all 0.20s;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  /* border: 0.5px solid rgba(255, 255, 255, 0.125); */
  outline: none;
}


/* Skeleton Css */

.skeleton-movie{
  background: #eee;
  overflow: hidden;
}
.skeleton-movie::before{
  content: '';
  position: absolute;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.9),
    transparent
  );
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  animation: loading 0.6s infinite;
}


@keyframes loading {
  0% {
    transform: skewX(-10deg) translateX(-100%);
  }
  100% {
    transform: skewX(-10deg) translateX(200%);
  }
}

@media (max-width:768px) {
  .main-header{
    height:100vh;
    @apply relative text-white bg-no-repeat pl-4 md:pl-8;
  }
}